/* 3.css 파일에 붙여넣기 */
.maze-row {
    display: flex;

    justify-content: center; /* 가로 방향 가운데 정렬 추가 */
}

.maze-cell {
    width: 20px;
    height: 20px;
    border: 1px solid #000;


}

.wall {
    background-color: black;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.obstacle {
    background-color: gray;
}

.player {
    background-color: blue;
}
